* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --primary: #0086ED;
    --primary-dark: #044d84;
    --dark: #2C3E50;
    --light: #ECF0F1;
    --gray: #95A5A6;
    --text: #333333;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url(../fonts/RobotoCondensed-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "HindMadurai";
    src: url(../fonts/HindMadurai-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HindMadurai";
    src: url(../fonts/HindMadurai-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    margin: 2vh 0;
}

h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin: 2vh 0;
}

h3 {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 2vh 0;
}

title {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 2vh 0;
}

text {
    font-family: "HindMadurai";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 2vh 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #18191b;
}

body {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    background-color: #f6f4f4;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

@media (max-width: 1320px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 5%;
        width: 100%;
    }
}